# Práctica 1: Básicos de R
En este notebooks haremos una introducción a elementos básicos de R:
- Introducción 
   - tipos de variables
   - operaciones lógicas
   - asignación de variables
   - operaciones aritméticas
- numericas, logicas, funciones, complejas y caracteres
- vectores
- listas
- Matrices


##### Otras cosas a tener en cuenta
- Comentarios
    - se usa la # para escapar una linea

## 1. Introducción
A continuación se muestran los tipos de variables que se pueden encontrar dentro de R


<img src="http://2.bp.blogspot.com/-x4n3xt5FCZI/VtFqqimUPLI/AAAAAAAAFn0/Kq07_1xdCyY/s1600/basic_data_types_R.PNG" alt="data types" style="width: 300px;"/>

### 1.1 Asignación de variables
Se usa el comando <- o = para asignar una variable

In [ ]:
# asignación
x <- 42
y <- TRUE
z = FALSE
# print la variable
x
y
z

### 1.2 Tipos de variables
Para determinar el tipo de variable de un objeto usamos 
```
class(object)
```

Evaluamos a continuación funciones, enteros, caracteres, strings, logicas y complejos

In [ ]:
# clases funcion
class(`=`)
# clases funcion
class(`<`)
# clase de un float
class(2.3)

# clase de un caracter
class('a')
# clase de un string
class("aaklf")
# clase logical
class(1>2)
# clase de un 
class(complex(1,2))

**EJERCICIO**
- cual es la clase de 1?
- cuales es la clase de 1L?

### 1.3 Operaciones lógicas
- < menor que
- \> mayor que 
- <= menor igual que
- \>= mayor igual que
- == igual a
- != no igual a

In [ ]:
1==1
1>2
3<=5
2>1 & 2<1
2>1 | 3>2

- AND operdor &
-  OR operador |
- NOT operador !
### & vs &&, | vs ||
Veamos las diferencias entre & y && y | contra ||

In [6]:
c(TRUE,TRUE,FALSE) & c(TRUE,FALSE,FALSE)
c(TRUE,TRUE,FALSE) && c(TRUE,FALSE,FALSE)

c(TRUE,TRUE,FALSE) | c(TRUE,FALSE,FALSE)
c(TRUE,TRUE,FALSE) || c(TRUE,FALSE,FALSE)

[1]  TRUE FALSE FALSE

[1] TRUE

[1]  TRUE  TRUE FALSE

[1] TRUE

### 1.4 Operaciones aritméticas   básicas
- suma: +
- resta: -
- multiplicación: *
- división: /
- exponenciación: ^
- módulo: %%

In [2]:
# suma
5 + 5 
# resta
5 - 5 
# multiplicación
3 * 5
 # división
(5 + 5) / 2 
# Exponenciación
(2^5)
# Módulo
(28%%6)

[1] 10

[1] 0

[1] 15

[1] 5

[1] 32

[1] 4

## 1.5 vectores
Para definir un vector se usa el comando

```c(e1,e2,e3,e4)```

para definir un vector. 

El vector contiene siempre el mismo tipo de variable. En caso de no especificar, lo infiere.

In [22]:

a<-c(TRUE,FALSE,TRUE)
class(a)
b<-c(TRUE,"a",1)
b
class(b)
c<- c(1,"a")
c
class(c)
d<-c(1,1L)
class(d)

[1] "logical"

[1] "TRUE" "a"    "1"

[1] "character"

[1] "1" "a"

[1] "character"

[1] "numeric"

### 1.5.1 acceso a vectores y slices
Podemos acceder a un vector mediante corchetes []
- acceso a un elemento
    - número, donde la primera posición comienza en 1
    - acceso al primer elemento: 1
    - acceso al último elemento
- acceso a múltiples elementos
    - mediante vectores c(1,2,3)
    - usando slices c(1:3)
- acceso por condiciones

In [184]:
gastos<- c(14, -50, 20, -10, 240)
# acceso al primer valor
gastos[1]
# o
head(gastos,n=1)
# acceso al último elemento
gastos[length(gastos)]
# acceso al último elemento
tail(gastos, n=1)
# acceso a multiples valores
gastos[c(1,3)]
# acceso a multiples valores mediante slices
gastos[c(2:length(gastos))]
# o
gastos[2:length(gastos)]

gastos[c(1,2,3)]

[1] 14

[1] 14

[1] 240

[1] 240

[1] 14 20

[1] -50  20 -10 240

[1] -50  20 -10 240

[1]  14 -50  20

In [66]:
## encontrar el minimo
which.min(gastos)
## encontrar el maximo
which.max(gastos)
## min,max
c(min(gastos),max(gastos))
## suma gastos
sum(gastos)
## producto
prod(gastos)

[1] 2

[1] 5

[1] -50 240

[1] 214

[1] 33600000

existen más funciones ...
exp(),	sin(),	cos(),	tan(),	log(),	
log10(),	beta(a,b),	gamma(x),

### 1.5.2 nombrar un vector
Es posible dar un nombre a un vector y acceder a un elemento mediante esos nombres

In [13]:
# Ganancias por semana
win_week <- c(14, -50, 20, -10, 240)


# asignamos días
names(win_week) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

win_week

   Monday   Tuesday Wednesday  Thursday    Friday
       14       -50        20       -10       240

In [20]:
win_week["Tuesday"]

Tuesday
    -50

### 1.5.3 Operaciones con vectores
- vectores con vectores
- sobre vectores

In [ ]:
## crear un vector de 10 a 30 equiespaciado en 10
a<-seq(10,30,10)
a
b<-seq(1:3)
b
c<-1:10

In [76]:
# definimos dos vectores de ganancias y perdidas en dos semanas
g1_vector <- c(140, -50, 20, -120, 240)
g2_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(g1_vector) <- days_vector
names(g2_vector) <- days_vector

# asignamos un total diario
total_daily <- g1_vector+g2_vector
total_daily
g1_vector*g2_vector
g1_vector/g2_vector

g1_vector-g2_vector
g1_vector>g2_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

   Monday   Tuesday Wednesday  Thursday    Friday
    -3360      2500      2000     42000      2400

   Monday   Tuesday Wednesday  Thursday    Friday
      164         0       -80       230       230

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE     FALSE      TRUE      TRUE

In [31]:
length(total_daily)
sum(total_daily)
mean(total_daily)

[1] 5

[1] -84

[1] -16.8

** EJERCICIO **
- Define un vector que contenga los elementos 4.5,3.6,7.7,1.2,4.5,2.3,9.1,10.2,.9,0.1,30.1,14.3
- nombralo con "JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"
- accede a las primeras 3 posiciones del vector
- cual es el minimo y el máximo y en qué posicion están?
- que pasa si nombras el vector con "JAN","FEB","MAR","APR","MAY","JUN","JUL"?
- crea otro vector  3.3,2.1,9.2,11.3,23.4,10.3,15.6,17.2,1.2,0.1
- extrae el valor de este vector y el del anterior
- que sucede si sumas los dos vectores al tener diferentes tamaños?

## 1.6 Matrices
### 1.6.1 Creación de matrices
Con el comando matrix

In [79]:
matrix(1:9, byrow = TRUE, nrow = 3)
print("byrow=FALSE")
matrix(1:9, byrow = FALSE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

[1] "byrow=FALSE"

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

A partir de vectores

In [23]:
# creamos 3 vectores
v0 <- c(460.998, 314.4)

v1 <- c(290.475, 247.900)
v2 <- c(309.306, 165.8)

# Create box_office
box_office <- c(v0,v1,v2)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office,byrow=TRUE,nrow=3)

### 1.6.2 Nombrar una matriz

In [82]:

v0 <- c(460.998, 314.4)
v1 <- c(290.475, 247.900)
v2 <- c(309.306, 165.8)

# Construimos la matriz
result <- matrix(c(v0, v1, v2), nrow = 3, byrow = TRUE)

# definimos nombres de regiones y definiciones de los elementos de los vectores
region <- c("ESPAÑA", "FUERA-ESPAÑA")
titles <- c("VIDEOS", "AUDIOS", "CAMARAS")

# definimos el nombre de las columnas regiones
colnames(result)<- region

# definimos el nombre de las filas con titulos
rownames(result)<-titles

# matriz
result

        ESPAÑA  FUERA-ESPAÑA
VIDEOS  460.998 314.4
AUDIOS  290.475 247.9
CAMARAS 309.306 165.8

## 1.6.3 calculos con las matrices

In [83]:
# Construimos de nuevo la matriz con un método diferente
vt <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
result <- matrix(vt, nrow = 3, byrow = TRUE,
                           dimnames = list(c("VIDEOS", "AUDIOS", "CAMARAS"), 
                                           c("ESPAÑA", "FUERA-ESPAÑA")))

# hacemos sumas de España-America
worldwide_vector <- rowSums(result)
worldwide_vector

 VIDEOS  AUDIOS CAMARAS
775.398 538.375 475.106

## 1.6.4 añadir una columna

In [94]:
# Construct star_wars_matrix
vt <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
result <- matrix(result, nrow = 3, byrow = TRUE,
                           dimnames = list(c("VIDEOS", "AUDIOS", "CAMARAS"), 
                                           c("ESPAÑA", "FUERA-ESPAÑA")))

# The worldwide box office figures
worldwide <- rowSums(result)
# concatenamos el total
all_wwv_res <- cbind(result,worldwide)
all_wwv_res

        ESPAÑA  FUERA-ESPAÑA worldwide
VIDEOS  460.998 247.900      708.898
AUDIOS  314.400 309.306      623.706
CAMARAS 290.475 165.800      456.275

### 1.6.5 añadir filas

In [101]:
all_wwv_res

        ESPAÑA  FUERA-ESPAÑA worldwide
VIDEOS  460.998 247.900      708.898
AUDIOS  314.400 309.306      623.706
CAMARAS 290.475 165.800      456.275

In [105]:
  
MOBILE <- c(70, 100.34, 90.8)
names(MOBILE)<-c("ESPAÑA","FUERA-ESPAÑA","worldwide")
# Combinamos
total <- rbind(all_wwv_res,MOBILE)
total

        ESPAÑA  FUERA-ESPAÑA worldwide
VIDEOS  460.998 247.900      708.898
AUDIOS  314.400 309.306      623.706
CAMARAS 290.475 165.800      456.275
MOBILE   70.000 100.340       90.800

### 1.6.6 selección de elementos de una matrix

In [107]:


# Seleccionamos FUERA-DESPAÑA para todo
non_es_all <- total[,2]
  
# promedio non-ES 
mean(non_es_all)
  
# Seleccionamos el FUERA-ES para VIDEOS y AUDIOS
non_es_some <- total[1:2,2]
  
# promedio FUERA-ES para VIDEOS  y AUDIOS
mean(non_es_some)

[1] 205.8365

[1] 278.603

### 1.6.7 Operaciones con matrices

In [108]:
# division
visitors <- total/5
  
visitors

        ESPAÑA  FUERA-ESPAÑA worldwide
VIDEOS  92.1996 49.5800      141.7796
AUDIOS  62.8800 61.8612      124.7412
CAMARAS 58.0950 33.1600       91.2550
MOBILE  14.0000 20.0680       18.1600

In [125]:

vt <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8,60.23, 34.34, 2405.435, 233.4, 34.36, 16.65)

vt<-matrix(vt,nrow = 4,byrow = TRUE,  dimnames = list(c("VIDEOS", "AUDIOS", "CAMARAS","MOBILE"), 
                                           c("ESPAÑA", "FUERA-ESPAÑA","worldwide")))

# division matricial
visitors <- total/vt

es_visitors <- visitors[,1]

# promedio de es_visitors
mean(es_visitors)

[1] 1.847733

**Ejercicio**
- crea una matriz de 1:12 elementos con 3 filas y con con el parametro byrow=TRUE
- crea otra matriz de 1:12 elementos con 4 files y con el parametro byrow=FALSE
- Ejecuta el comando t(matrix) donde matrix es la matriz creada en el último apartado
- en qué se diferencian las matrices?
- haz la media de la primera matriz 
- haz la media de cada fila
- haz la media de cada columna

## 1.7 factores
Se usan para las variables categóricas. La diferencia entre una variable categorica y una continua es que la categorica tiene un numero limitado de elementos, mientras que la continua corresponde a un número infinito. Es muy importante debido a que según como asignemos la variable R trabaja de una manera u otra con ella.

Un ejemplo sencillo de esto es el género de las personas.

In [129]:
# genero
sex_vector <- c("Hombre", "Mujer", "Mujer", "Hombre", "Hombre")

# lo convertimos a factores
factor_sex_vector <-factor(sex_vector)

factor_sex_vector

[1] Hombre Mujer  Mujer  Hombre Hombre
Levels: Hombre Mujer

### 1.7.1 Tipos de factores

Hay dos tipos de variables categóricas:
- nominales: no tienen un orden implicito como puede ser el género.
- ordinales: tienen un orden como puede ser primero, segundo o tercero.

In [128]:
# animales
animals_vector <- c("Gato", "Jirafa", "Mono", "Caballo")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# temperatura
temperature_vector <- c("Alto", "Bajo", "Alto","Bajo", "Medio")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Bajo", "Medio", "Alto"))
factor_temperature_vector

[1] Gato    Jirafa  Mono    Caballo
Levels: Caballo Gato Jirafa Mono

[1] Alto  Bajo  Alto  Bajo  Medio
Levels: Bajo < Medio < Alto

### 1.7.2 cambio de nombre de los factores

Ojo, tiene que ser alfabeticamente

In [131]:
# mujeres, hombres
survey_vector <- c("M", "H", "H", "M", "M")
factor_survey_vector <- factor(survey_vector)

# especificamos niveles
levels(factor_survey_vector) <-c("Hombre","Mujer")

factor_survey_vector

[1] Mujer  Hombre Hombre Mujer  Mujer
Levels: Hombre Mujer

## 1.7.3 Summary de la variable

In [132]:

# vemos el sumario
summary(survey_vector)

summary(factor_survey_vector)

   Length     Class      Mode
        5 character character

Hombre  Mujer
     2      3

### 1.7.4 comparación de factores

In [133]:
# hombre
male <- factor_survey_vector[1]

# mujer
female <- factor_survey_vector[2]

# Es hombre> mujer?
male > female

Warning message in Ops.factor(male, female):
“‘>’ not meaningful for factors”

[1] NA

### 1.7.5 factores ordenados

In [36]:
# Create speed_vector
speed_vector <- c("medium", "slow", "slow", "medium", "fast")

# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector,ordered=TRUE,levels=c("slow","medium","fast"))

# Print factor_speed_vector
factor_speed_vector
summary(factor_speed_vector)

[1] medium slow   slow   medium fast
Levels: slow < medium < fast

  slow medium   fast
     2      2      1

### 1.7.6 comparaciones

In [135]:
# creamos vector velocidad
speed_vector <- c("medio", "lento", "lento", "medio", "rapido")
factor_speed_vector <- factor(speed_vector, ordered = TRUE, levels = c("lento", "medio", "rapido"))

# vemos el valor paral el segundo
da2 <-factor_speed_vector[2]

# vemos el valor para el 5to
da5 <-factor_speed_vector[5]

# es el 2 más rapido que el 5?
da2>da5

[1] FALSE

** Ejercicios **
- Estamos estudiando alumnos de diferentes cursos. La variable curso (1º,2º,3º,4º) es un factor o una variable continua?
- Es una variable ordinal o cardinal?
- Crea la variable curso y conviertela a factor

## 1.8 DataFrames
Los data frames son objetos de datos con columnas y como observaciones filas.

## 1.8.1 crear un dataframe

In [141]:
# definimos los vectores
name <- c("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
type <- c("Terrestrial planet", "Terrestrial planet", "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# creamos un data frame de los vectores
planets_df <- data.frame(name,type,diameter,rotation,rings)
planets_df

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

### 1.8.2 estructura del dataframe

In [143]:
str(planets_df)

'data.frame':	8 obs. of  5 variables:
 $ name    : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

### 1.8.3 ordenar un dataframe

In [142]:
planets_df[order(planets_df$diameter),]

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
8 Neptune Gas giant           3.883      0.67   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
5 Jupiter Gas giant          11.209      0.41   TRUE

### 1.8.4 acceso de un dataframe

In [42]:
# The planets_df data frame from the previous exercise is pre-loaded

# Print out diameter of Mercury (row 1, column 3)
planets_df[1,3]

# Print out data for Mars (entire fourth row)
planets_df[4,]

[1] 0.382

  name type               diameter rotation rings
4 Mars Terrestrial planet 0.532    1.03     FALSE

In [144]:
planets_df$name

[1] Mercury Venus   Earth   Mars    Jupiter Saturn  Uranus  Neptune
Levels: Earth Jupiter Mars Mercury Neptune Saturn Uranus Venus

In [145]:
# seleccionar los 5 primeros valores de diametros
planets_df[1:5,"diameter"]

[1]  0.382  0.949  1.000  0.532 11.209

In [146]:

# seleccionar todos los anillos
rings_vector <-planets_df[,"rings"] 

rings_vector

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [46]:
#seleccionamos todos los planetas con anillos
planets_df[rings_vector, ]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

### 1.8.5 filtrado usando subset

In [47]:
#seleccionamos planetas con diametro <1
subset(planets_df, subset = diameter<1)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

## 1.9 Listas

In [148]:
#vector con numeros del 1 al 10
my_vector <- 1:10 

# matriz
my_matrix <- matrix(1:9, ncol = 3)


# la lista contiene diferentes elementos
my_list <-list(my_vector,my_matrix)
my_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

Podemos poner nombres a los componentes de la lista

In [151]:
my_list <- list(vec=my_vector, mat=my_matrix )

my_list

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

## 2 Condicionales y Loops

    if(condition1) {
      expr1
    } else if(condition2) {
      expr2
    } else {
      expr3 }

## 2.1 Loop
## 2.1.1 While 
    while(condition) {
     expr }
     
### 2.1.2 Break
   
    while(condition) {
      expr
      break
     }

## 2.2 For 
    for(var in seq) {
      expr
    }

In [152]:
 cities <- c("New York", "Paris",
 "London", "Tokyo",
 "Rio de Janeiro", "Cape Town")

 for(city in cities) {
     if(nchar(city) == 6) {
      break
     }
      print(city)
 }

[1] "New York"
[1] "Paris"

In [153]:
 for(i in 1:length(cities)) {
 print(cities[i])
 }

[1] "New York"
[1] "Paris"
[1] "London"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"

Usando next

In [10]:
 for(city in cities) {
 if(nchar(city) == 6) {
 next
 }
 print(city)
 }

[1] "New York"
[1] "Paris"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"

## 3 Funciones
Ejemplo sd

In [ ]:
sd(x, na.rm = FALSE)

In [ ]:
help(sd)

In [13]:
args(sd)

function (x, na.rm = FALSE)
NULL

## Escribir funciones
     my_fun <- function(arg1, arg2,arg_opt1=arg3) {
      body
     }

In [18]:
triple <- function(x=1) {
 y <-
3 * x
 return(y)
 }
triple(2)
triple()

[1] 6

[1] 3

** Ejercicio **
- crea una funcion llamada myfunc que pase como parametro un vector y que en caso de que contenga un numero de elementos par, devuelva el vector con los elementos pares y en caso de ser impar, devuelva los impares

## 6 Paquetes de R
Instalar paquetes
- Load packages: library(), require()

In [222]:
#install.packages("ggplot2")

In [158]:
 search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

In [224]:
# library("ggplot2")

In [22]:
 require("data.table")  
result <- require("data.table")

## 7 Otras funciones
### 7.1  lapply
Funciona sobre vectores o listas

In [162]:
 nyc <- list(pop = 8405837,
 boroughs = c("Manhattan", "Bronx", "Brooklyn",
 "Queens", "Staten Island"),
 capital = FALSE)

Ejemplo con for

In [166]:
for(info in nyc) {
 print(nchar(info))
 }

[1] 7
[1]  9  5  8  6 13
[1] 5

Ejemplo con lapply

In [167]:
 lapply(nyc, nchar)

$pop
[1] 7

$boroughs
[1]  9  5  8  6 13

$capital
[1] 5

## 7.2 sapply
devuelve un array

In [168]:
 cities <- c("New York", "Paris", "London", "Tokyo",
 "Rio de Janeiro", "Cape Town")

In [169]:
lapply(cities, nchar)

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

In [170]:
 unlist(lapply(cities, nchar))

[1]  8  5  6  5 14  9

In [171]:
 sapply(cities, nchar)

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

In [172]:
 sapply(cities, nchar, USE.NAMES = FALSE)

[1]  8  5  6  5 14  9


##  7.3 Otras funciones utiles

### 7.3.1 para estructuras de datos

In [182]:
li <- list(log = TRUE,
 ch = "hello",
 int_vec = sort(rep(seq(8, 2, by = -2), times = 2)))
str(li)

List of 3
 $ log    : logi TRUE
 $ ch     : chr "hello"
 $ int_vec: num [1:8] 2 2 4 4 6 6 8 8

In [180]:
sort(rep(seq(8, 2, by = -2), times = 2))

[1] 2 2 4 4 6 6 8 8

### seq

In [174]:
 seq(1, 10, by = 3)

[1]  1  4  7 10

### rep()

In [173]:
rep(c(8, 6, 4, 2), times = 2)

[1] 8 6 4 2 8 6 4 2

#### sort()

In [175]:
 sort(rep(seq(8, 2, by = -2), times = 2))

[1] 2 2 4 4 6 6 8 8

### is.*(), as.*()

In [176]:
li2 <- as.list(c(1, 2, 3))

In [177]:
my_date <- as.Date("1971-05-14") 
my_date

[1] "1971-05-14"

### append(), rev()

In [181]:
str(append(li, rev(li)))

List of 6
 $ log    : logi TRUE
 $ ch     : chr "hello"
 $ int_vec: num [1:8] 2 2 4 4 6 6 8 8
 $ int_vec: num [1:8] 2 2 4 4 6 6 8 8
 $ ch     : chr "hello"
 $ log    : logi TRUE

# 8 importar datos en R

In [ ]:
df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/test.txt", 
                 header = FALSE)
df

In [ ]:
# Read in csv files
df <- read.table("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/test.csv", 
                 header = FALSE,
                 sep = ",")

In [ ]:
# Activate `rjson`
library(rjson)

# Import data from json file
JsonData <- fromJSON(file= "<filename.json>" )

# Cuidados a tener con R
- se pueden sumar elementos con diferente longitud
- Cuidado cuando cargamos multiples librerias

In [11]:
win_week2 <- c(14, -50, 20, -10, 240,200)
win_week+win_week2

Warning message in win_week + win_week2:
“longer object length is not a multiple of shorter object length”

[1]   28 -100   40  -20  480  214

In [227]:
#library("dlplyr")
#library(randomForest)